.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.single-team {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: gray;
    border-width: thin;
    margin-top: 20px;
    background-color: rgba(200, 56, 21)
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    body {
      background-color: yellowgreen;
    }
}