.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(200, 56, 21);
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  background-color: white;
}

button {
  width: 50px;
}

